@import "variables";

.button {
  display: block;
  width: 100%;
  // padding: 0 10px;

  text-align: center;
  text-decoration: none;

  font-size: 12px;
  font-weight: 600;
  line-height: 36px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  outline: none;
  border-radius: 10px;
  cursor: pointer;

  background-color: $color-positive;
  color: #fff;

  transition: 0.2s;

  &:hover,
  &:focus {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.04),
      rgba(255, 255, 255, 0.04)
    );
  }

  &:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    background-color: $color-neutral;
    color: #b4b4b4;
  }

  &--positive {
    background-color: $color-positive;
    color: #ffffff;
  }

  &--negative {
    background-color: $color-negative;
    color: #ffffff;
  }
}
